img {
	width: 200px;
	height: 200px;
}




/* =====================

Home screen

========================*/
.home-body {
	background-image: url('/joanna-kosinska-290213-unsplash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Special Elite', cursive;
	font-size: 25px;
	height: 100vh;
} 

.nav-default {
	background-color: #453b33;
	font-family: 'Special Elite', cursive;
}

.nav-link {
	color: #FEFDFB;
	font-size: 25px;
}

.fixed-top {
	top: 0;
}

.home-title {
	color:#faf0e6;
	font-weight: bold;
}





/* =====================

Add new photo section

========================*/
.newphoto-h1 {
	font-family: 'Special Elite', cursive;
	text-align: center;
	margin: 96px;
}

.newphoto-form {
	color: #777;
	background: #f6f6f3;
	box-shadow: 0px 3px 15px hsla(0,0%,0%,.08);
	margin: 40px auto;
	position: relative;
	width: 752px;
	height: 282px;
	border: 1px solid #dfdfd3;
	background-image: -webkit-radial-gradient(#d6d5d6 30%, transparent 20%),
										-webkit-radial-gradient(#cfcfc3 38%, transparent 24%),
										-webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
																									hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
	background-image: -moz-radial-gradient(#d6d5d6 30%, transparent 20%),
										-moz-radial-gradient(#cfcfc3 38%, transparent 24%),
										-moz-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
																									hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
	background-image: radial-gradient(#d6d5d6 30%, transparent 20%),
										radial-gradient(#cfcfc3 38%, transparent 24%),
										linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
																									hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
	background-position: 4px 1px, 4px 0px, 50% 0px;
	background-repeat: repeat-y,  repeat-y, repeat;
	background-size: 30px 30px, 30px 30px, 30px 30px;
	padding: 36px 48px 23px 80px;
}

.newphoto-form:after {
	border-left: 2px solid hsla(0,95%,50%,.1);
	border-right: 2px solid hsla(0,95%,50%,.1);
	bottom: 0;
	content: '';
	left: 60px;
	position: absolute;
	top: 0;
	width: 3px;
}

.newphoto-form td {
	font-family: 'Special Elite', cursive;
	line-height: 30px;
	margin-bottom: 30px;
}

.newphoto-input {
	background: transparent;
	border: 0px;
	outline: 0;
	width: 200px;
	font-family: 'Special Elite', cursive;
	resize: none;
}

.newphoto-submit-div {
	font-family: 'Special Elite', cursive;
	text-align: center;
	margin: 76px;
}






/* =====================

Add new album section

========================*/
.newalbum-container {
	font-family: 'Special Elite', cursive;
}

ul {
	list-style-type: none;
  }
  
  li {
	display: inline-block;
  }
  
  input[type="checkbox"][id^="cb"] {
	display: none;
  }
  
  label {
	border: 1px solid #fff;
	padding: 10px;
	display: block;
	position: relative;
	margin: 10px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  label::before {
	background-color: white;
	color: white;
	content: " ";
	display: block;
	border-radius: 50%;
	border: 1px solid grey;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 28px;
	transition-duration: 0.4s;
	transform: scale(0);
  }
  
  label img {
	height: 250px;
	width: 250px;
	transition-duration: 0.2s;
	transform-origin: 50% 50%;
  }
  
  :checked+label {
	border-color: #ddd;
  }
  
  :checked+label::before {
	content: "✓";
	background-color: grey;
	transform: scale(1);
  }
  
  :checked+label img {
	transform: scale(0.9);
	box-shadow: 0 0 5px #333;
	z-index: -1;
  }

	.albumtitle-form {
		font-family: 'Special Elite', cursive;
		margin-left: 150px;
	}

	.newalbum-h4 {
		font-family: 'Special Elite', cursive;
		margin-left: 150px;
	}

	.newalbum-input {
		font-family: 'Special Elite', cursive;
		outline: 0;
		border: 0;
		background: transparent;
	}

	.newalbum-title,.newalbum-button {
		font-family: 'Special Elite', cursive;
	}






/* =============================

Show indivisual photos section

================================*/
.polaroid {
  position: relative;
  width: 220px;
}
 
.polaroid img {
	width: 300px;
	height: 300px;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
 
.polaroid p {
  position: absolute;
	text-align: center;
  width: 100%;
  bottom: 0px;
	font-family: 'Homemade Apple', cursive;
	color: black;
}

.showphoto-col {
	margin: 18px;
}

.edit-delete-button {
	font-family: 'Special Elite', cursive;
}

.album-list,.add-in-album-span {
	font-family: 'Special Elite', cursive;
}


/* =============================

Show album section

================================*/
.square {
	float:left;
	position: relative;
	width: 30%;
	padding-bottom : 30%; 
	margin:1.66%;
	background-color: #EADECF;
	overflow:hidden;
}

.content {
	position:absolute;
	height:90%; 
	width:90%; 
	padding: 5%;
	
}

.table{
	display:table;
	width:100%;
	height:100%;
}

.table-cell{
	display:table-cell;
	vertical-align:middle;
}

.album-link {
	text-align: center;
	font-family: 'Special Elite', cursive;
	color: black;
	text-decoration: none;
}
	




/* =============================

journal section

================================*/
.journal-title {
	font-family: 'Special Elite', cursive;
	text-align: center;
}

.journal-container {
  max-width:1400px;
  margin:0 auto;
}

.journal-photo img {
	width: 700px;
	height: 650px;
}

.story-holder {
  padding:36px 36px;
	background:rgba(255,255,240,0.8);
}

.journal-h1 {
	font-family: 'Fredericka the Great', cursive;
	font-weight: bold;
  font-size:3em;
  line-height:1;
  padding-bottom:24px;
  border-bottom:16px solid #a00000;
  margin-bottom:24px;
  color:rgb(20, 20,59);
  text-align:center;
}

.intro {
  font-size:1.5em;
  font-family: 'Fredericka the Great', cursive;
  color:rgb(20,20,59);
  padding-bottom:24px;
  border-bottom:3px solid #293d3d;
  margin-bottom:24px;
	line-height:1.3;
}

.article {
	line-height:1.4;
}

.article p {
	font-size:1.5em;
	font-family: 'Dawning of a New Day', cursive;
}




/* =============================

edit/delete section

================================*/
.editphoto-title,.editphoto-form,.editphoto-button {
	font-family: 'Special Elite', cursive;
}

.editphoto-input {
	font-family: 'Special Elite', cursive;
	color: #E8CCC3;
}

.editphoto-img img {
	width: 450px;
	height: 450px;
}

.deletephoto-form {
	max-width: 700px;
}

.deletephoto-h3-p {
	font-family: 'Fredericka the Great', cursive;
	color: #08084a;
}

.deletephoto-capture {
	font-family: 'Dawning of a New Day', cursive;
	font-size: 1.5em;
	color: #08084a;
}

.delete-albumtitle {
	font-family: 'Special Elite', cursive;
	background: #EADECF;
	padding: 130px;
}

